<style type="text/css">
.single-sidebar input[type="submit"]{
    padding: 8px 20px;
}
#myModal input[type="text"]{
    border: 1px solid #ddd;
    padding: 5px;
    margin-top:10px;
}
.single-sidebar input[type="text"] {
    margin-bottom: 10px;
    width: 85%;
    padding: 10px;
}
</style>
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>购物车</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->
    
    
     <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">搜索您想要的商品...</h2>
                        <form action="">
                            <input type="text" placeholder="在此处输入商品名称...">
                            <input type="submit" value="搜索">
                        </form>
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">有好货</h2>
                        <div class="thubmnail-recent">
                            <img src="__HOME__/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="single-product.html"> 索尼智能电视 - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$800.00</del>
                            </div>                             
                        </div>
                        <div class="thubmnail-recent">
                            <img src="__HOME__/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="single-product.html">索尼智能电视 - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$800.00</del>
                            </div>                             
                        </div>
                        <div class="thubmnail-recent">
                            <img src="__HOME__/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="single-product.html">索尼智能电视 - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$800.00</del>
                            </div>                             
                        </div>
                        <div class="thubmnail-recent">
                            <img src="__HOME__/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                            <h2><a href="single-product.html">索尼智能电视 - 2015</a></h2>
                            <div class="product-sidebar-price">
                                <ins>$700.00</ins> <del>$800.00</del>
                            </div>                             
                        </div>
                    </div>
                </div>
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form method="post" action="#">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">商品</th>
                                            <th class="product-price">单价</th>
                                            <th class="product-quantity">购买数量</th>
                                            <th class="product-subtotal">小计</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart_item">
                                            <td class="product-remove">
                                                <a title="Remove this item" class="remove" href="#">×</a> 
                                            </td>

                                            <td class="product-thumbnail">
                                                <a href="single-product.html"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="__HOME__/img/product-thumb-2.jpg"></a>
                                            </td>

                                            <td class="product-name">
                                                <a href="single-product.html">索尼智能电视</a> 
                                            </td>

                                            <td class="product-price">
                                                <span class="amount">15.00</span> 
                                            </td>

                                            <td class="product-quantity">
                                                <div class="quantity buttons_added">
                                                    <input type="button" class="minus" value="-">
                                                    <input type="number" size="4" class="input-text qty text" title="Qty" value="1" min="0" step="1">
                                                    <input type="button" class="plus" value="+">
                                                </div>
                                            </td>

                                            <td class="product-subtotal">
                                                <span class="amount">15.00</span> 
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </form>

                            <div class="cart-collaterals">


                            <div class="cross-sells">
                                <h2>商品推荐</h2>
                                <ul class="products">
                                    <li class="product">
                                        <a href="single-product.html">
                                            <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="__HOME__/img/product-2.jpg">
                                            <h3>索尼智能电视</h3>
                                            <span class="price"><span class="amount">20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">加入购物车</a>
                                    </li>

                                    <li class="product">
                                        <a href="single-product.html">
                                            <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="__HOME__/img/product-4.jpg">
                                            <h3>索尼智能电视</h3>
                                            <span class="price"><span class="amount">20.00</span></span>
                                        </a>

                                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">加入购物车</a>
                                    </li>
                                </ul>
                            </div>

                            
                            <div class="shipping_calculator">
                                <h2><a class="shipping-calculator-button" data-toggle="collapse" href="#calcalute-shipping-wrap" aria-expanded="false" aria-controls="calcalute-shipping-wrap">选择您的地址</a></h2>

                                <section id="calcalute-shipping-wrap" class="shipping-calculator-form collapse">

                                <p class="form-row form-row-wide">
                                <select rel="calc_shipping_state" class="country_to_state" id="calc_shipping_country" name="address">
                                    <option value="0">选择一个地址</option>
                                    <option>山东省济宁市任城区古槐路兴唐大厦100号
                                联系人:我
                                &nbsp;联系方式:150647957</option>
                                </select>
                                </p>

                                <p class="form-row form-row-wide">省:山东省
                                &nbsp;市:济宁市&nbsp;县(区):任城区<br>
                                古槐路兴唐大厦100号<br>
                                联系人:我<br>
                                联系方式:150647957<br>
                                </p>

                                <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" value="1" name="calc_shipping">添加新地址</button></p>
                                </section>
                            </div>

                            <div class="cart_totals ">
                                <h2>购物车总计</h2>

                                <table cellspacing="0">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>购物车小计</th>
                                            <td><span class="amount">15.00</span></td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>运费</th>
                                            <td>免费送货</td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>订单数量</th>
                                            <td><strong><span class="amount">15.00</span></strong> </td>
                                        </tr>
                                        <tr>
                                            <td class="actions" colspan="6">
                                                <input type="submit" value="刷新购物车" name="update_cart" class="button">
                                                <input type="submit" value="结算" name="proceed" class="checkout-button button alt wc-forward">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            
                            </div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>

<!--弹出框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">添加新地址</h4>
         </div>
         <div class="modal-body">
            <select id='province'>
              <option value='0'>请选择省</option>
              <foreach name='province_list' item='vo'>
                <option value='{$vo.pcode}'>{$vo.pname}</option>
              </foreach>
            </select>
            <select id='city'>
              <option value='0'>请选择市</option>
            </select>
            <select id='area'>
              <option value='0'>请选择县</option>
            </select><br>
            详细地址: <input type="text" name="detail" id=""><br>
            联系方式: <input type="text" name="tel" id=""><br>
            联系人: &emsp;<input type="text" name="person" id="">
         </div>
         <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确认添加</button>

        </div>
      </div><!-- /.modal-content --></div></div>
    <!-- /.modal -->

<script type="text/javascript">
$('#province').change(function(){
    var pcode=$(this).val();
    var data={'pcode':pcode};
    var s="<option value='0'>请选择市</option>";
    $.get("{:U('Member/getCity')}",data,function(msg){
      for(var i=0;i<msg.length;i++){
        s+="<option value="+msg[i].ccode+">"+msg[i].cname+"</option>";
      }
      $('#city').html(s);
    },'json');
   });
   $('#city').change(function(){
    var CityCode=$(this).val();
    var data={'CityCode':CityCode};
    var s="<option value='0'>请选择县</option>";
    $.get("{:U('Member/getArea')}",data,function(msg){
      for(var i=0;i<msg.length;i++){
        s+="<option value="+msg[i].acode+">"+msg[i].aname+"</option>";
      }
      $('#area').html(s);
    },'json');
   });
   $("button:contains('确认添加')").click(function(){
      var province=$('#province option:selected').text();
      var city=$('#city option:selected').text();
      var areacountry=$('#area option:selected').text();
      var detail=$("[name='detail']").val();
      var tel=$("[name='tel']").val();
      var person=$("[name='person']").val();
      var data={'province':province,'city':city,'areacountry':areacountry,'detail':detail,'tel':tel,'person':person};
      $.post("{:U('Member/add_address')}",data,function(msg){
          if(msg==1){
            alert('添加成功');
            history.go(0);
          }else{
            alert('添加失败');
          }
      },'text')

   });
</script>
